* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-group {

    width: 80vw;
    text-align: center;
    background: rgba(255, 0, 0, 0.504);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.form-group input {

    height: 30px;
    border-radius: 10px;
    text-align: center;

}

.game-info {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    background: rgba( 255, 43, 43, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.img {

    max-height: 50vh;
}